:root {
  --cor-base: #8e8a91;
  --cor-animada: #c9aa1f;
}

.logo-titulo span {
  color: var(--cor-base);
}

.logo-titulo span{
    padding: 0px;
    margin: 0px;
}

/* Só roda no desktop */
@media (min-width: 770px) {
  .logo-titulo span {
    display: inline-block;
    animation: waveColor 2s infinite;
  }
  
  main h2{display: inline-block; animation: waveColor 4s infinite;}
  .logo-titulo span:nth-child(1) { animation-delay: 0s; }
  .logo-titulo span:nth-child(2) { animation-delay: 0.1s; }
  .logo-titulo span:nth-child(3) { animation-delay: 0.2s; }
  .logo-titulo span:nth-child(4) { animation-delay: 0.3s; }
  .logo-titulo span:nth-child(5) { animation-delay: 0.4s; }
  .logo-titulo span:nth-child(6) { animation-delay: 0.5s; }
  .logo-titulo span:nth-child(7) { animation-delay: 0.6s; }
  .logo-titulo span:nth-child(8) { animation-delay: 0.7s; }
  .logo-titulo span:nth-child(9) { animation-delay: 0.8s; }
  .logo-titulo span:nth-child(10) { animation-delay: 0.9s; }
  .logo-titulo span:nth-child(11) { animation-delay: 0.10s; }
  .logo-titulo span:nth-child(12) { animation-delay: 0.10s; }
  .logo-titulo span:nth-child(13) { animation-delay: 0.10s; }

  .menu-secundario a{
    display: inline-block;
    animation: waveColor 3s infinite;
  }

  .menu-secundario a:nth-child(0) { animation-delay: 0s; }
  .menu-secundario a:nth-child(1) { animation-delay: 0.10s; }
  .menu-secundario a:nth-child(2) { animation-delay: 0.20s; }
}

@keyframes waveColor {
  0% {
    color: var(--cor-base);
  }
  50% {
    color: var(--cor-animada);
  }
  100% {
    color: var(--cor-base);
  }
}