footer {
    background: var(--cor-backgound-secundario);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#agradecimento{
    text-decoration: none;
    color: var(--cor-texto);
}

.blocos-footer {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blocos-footer > div {
    flex: 1;
    min-width: 100px;
    max-width: 350px;

    padding: 5px;

    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.1);

    background: rgba(255,255,255,.03);

    display: flex;
}

footer .blocos-footer .dados {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.blocos-footer p {
    margin: 1px 0;
    font-size: .9rem;
}

footer .links-footer {
    gap: 10px;
}

footer .links-footer button {
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: .2s;
}

footer .links-footer button:hover {
    transform: translateY(-2px);
}

.button-footer {
    background: transparent;
    color: var(--cor-texto);
}

.button-footer {
    text-decoration: none;
    font-size: .95rem;
    animation: waveColor2 3s infinite;
    gap: 5px;
}

.desenvolvimento-site{
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dados{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}