footer {
  text-align: center;
  padding: 20px;
  background: #111a2e;
  margin-top: 40px;
  font-size: 14px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: var(--cor-backgound-secundario);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}