@import url("animacoes.css");


.conteudo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.card-formulas{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: auto;
    background: var(--cor-backgound-secundario);
}

#tabela-cores{
    border-collapse: collapse;
}

table tr td{
    padding: 1px;
    font-size: 14px;

}

table tr th{
    padding: 1px;
    animation: waveColor 4s infinite;
    font-weight: bold;
    font-size: 18px;
}