.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 60px;
}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover { color: #f5c542; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--cor-backgound-secundario);
}