main{
    display: flex;
    flex-direction: column;
}

#materias-conteudo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-materias{
  background: var(--cor-backgound-terciaria);
  padding: 30px;
  width: 250px;
  height: 350px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
  flex: 0 0 28%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-materias button{
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f5c542;
  font-weight: bold;
  width: 100px;
  align-self: center;
}

.card-materias:hover {
  transform: translateY(-10px);
  background: #103499;
}

.card-materias button a{
  color: rgba(0, 0, 0, 100);
}

@media (max-width: 768px) {
    .card-materias{
    flex: 0 0 33.6%;
    }
}