@import url("animacoes.css");

:root {
  --cor-background-primario: #0b1220;
  --cor-backgound-secundario: #111a2e;
  --cor-backgound-terciaria: #16213e;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

a{
  text-decoration: none;
}

.button-nop{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background: var(--cor-background-primario);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 60px;
}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover { color: #f5c542; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--cor-backgound-secundario);
}

#base-conteudo-center {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.card {
  background: var(--cor-backgound-terciaria);
  box-shadow: 0 0 20px rgba(250,204,21,.3);
  padding: 30px;
  width: 250px;
  height: 350px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
  flex: 0 0 28%;
  gap: 30px;
  justify-content: center;
}
.card:hover {
  transform: translateY(-10px);
  background: #103499;
}

.card button a{
  color: rgba(0, 0, 0, 100);
}

.card h3 { margin-bottom: 20px; font-size: 28px; }
.card p { font-size: 14px; margin-bottom: 30px; }

.card button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f5c542;
  font-weight: bold;
}

.img-cards{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111a2e;
  margin-top: 40px;
  font-size: 14px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: var(--cor-backgound-secundario);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hidden{
  display: none;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h2{
  padding: 20px 0px 14px 0px;
}

#base-conteudo{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card{
  width: 180px;
  height: 260px;
  padding: 20px;
  text-align: center;
}

.card-conteudo{
  background: var(--cor-backgound-terciaria);
  box-shadow: 0 0 15px rgba(250,204,21,.3);
  padding: 30px;
  width: clamp(200px, 100%, 350px);
  height: 260px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.card-conteudo button{
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f5c542;
  font-weight: bold;
  width: 100px;
  align-self: center;
}

.card-conteudo:hover {
  transform: translateY(-10px);
  background: #103499;
}

.card-conteudo button a{
  color: rgba(0, 0, 0, 100);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }
  nav {
    display: none;
  }
  main {
    flex-direction: column;
    gap: 20px;
  }
  .card-conteudo{
    flex: 1;
    width: 100%;
  }
}
