footer {
    background: var(--cor-backgound-secundario);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#agradecimento{
    text-decoration: none;
    color: var(--cor-texto);
}

.blocos {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blocos > div {
    flex: 1;
    min-width: 100px;
    max-width: 350px;

    padding: 5px;

    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.1);

    background: rgba(255,255,255,.03);

    display: flex;
}

footer .blocos .informacoes {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.blocos p {
    margin: 1px 0;
    font-size: .9rem;
}

footer .menu-secundario nav {
    gap: 10px;
}

footer .menu-secundario button {
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    animation: waveColor2 3s infinite;
    transition: .2s;
}

footer .menu-secundario nav button:hover {
    transform: translateY(-2px);
}

.menu-secundario {
    text-decoration: none;
    font-size: .95rem;
    animation: waveColor2 3s infinite;
    gap: 5px;
    display: flex;
    justify-content: center;
}

.menu-secundario nav button span{
    display: block;
}

.desenvolvimento{
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}