header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--cor-backgound-secundario);
}

.text-logo-home {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text-logo-home img {
  width: 60px;
}

nav {
  display: flex;
}

.titulo-primario span {
  display: inline-block;
  animation: waveColor 2s infinite;
}

nav .btn-menu-primario {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .btn-menu-primario:hover { color: #f5c542; }

.menu-primario .btn-menu-primario{
  display: inline-block;
  animation: waveColor 3s infinite;
}

.menu-primario .btn-menu-primario:nth-child(0) { animation-delay: 0s; }
.menu-primario .btn-menu-primario:nth-child(1) { animation-delay: 0.10s; }
.menu-primario .btn-menu-primario:nth-child(2) { animation-delay: 0.20s; }

.titulo-primario span:nth-child(1) { animation-delay: 0s; }
.titulo-primario span:nth-child(2) { animation-delay: 0.1s; }
.titulo-primario span:nth-child(3) { animation-delay: 0.2s; }
.titulo-primario span:nth-child(4) { animation-delay: 0.3s; }
.titulo-primario span:nth-child(5) { animation-delay: 0.4s; }
.titulo-primario span:nth-child(6) { animation-delay: 0.5s; }
.titulo-primario span:nth-child(7) { animation-delay: 0.6s; }
.titulo-primario span:nth-child(8) { animation-delay: 0.7s; }
.titulo-primario span:nth-child(9) { animation-delay: 0.8s; }
.titulo-primario span:nth-child(10) { animation-delay: 0.9s; }
.titulo-primario span:nth-child(11) { animation-delay: 0.10s; }
.titulo-primario span:nth-child(12) { animation-delay: 0.10s; }
.titulo-primario span:nth-child(13) { animation-delay: 0.10s; }