
/* Reset CSS */

* { margin: 0; padding: 0; box-sizing: border-box; }
a{ text-decoration: none; }
button{ background: none; border: none; padding: 0; cursor: pointer; }
.hidden{ display: none; }

/* Fim Reset CSS */


body {
  background: var(--cor-background-primario);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 99vw;
}



